In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import timedelta

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.options.display.max_columns=None
pd.options.mode.chained_assignment = None

In [2]:
def open(path):
    df = pd.read_excel(path)
    display(df.head(3))
    display(df.info())
    return df

In [13]:
new_shit = open(r'C:\Users\User\asp\new_shit.xls')

,№п/п,ФИО,Номер ЛД,Подразделение,Специальность/направление,Специализация/профиль,Курс по порядку,Состояние,Дисциплина,Оценка (без пересдач),Оценка (успеваемость),Полугодие,Преподаватель,Учебный год
0,1,Аббас Майтхам Худайр Аббас,2200674,Горный институт,Электротехнические комплексы и системы,Электротехнические комплексы и системы,3,Аспирант,История и философия науки,Отлично,Отлично,I полугодие,Карулина Татьяна Борисовна,2022 - 2023
1,2,Аббас Майтхам Худайр Аббас,2200674,Горный институт,Электротехнические комплексы и системы,Электротехнические комплексы и системы,3,Аспирант,История и философия науки,Отлично,Отлично,I полугодие,Сельницын Роман Сергеевич,2022 - 2023
2,3,Аббас Майтхам Худайр Аббас,2200674,Горный институт,Электротехнические комплексы и системы,Электротехнические комплексы и системы,3,Аспирант,Педагогика высшей школы,Отлично,Отлично,I полугодие,Тимощук Нина Александровна,2022 - 2023

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12181 entries, 0 to 12180
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   №п/п                       12181 non-null  int64
 1   ФИО                        12181 non-null  object
 2   Номер ЛД                   12181 non-null  int64
 3   Подразделение              12181 non-null  object
 4   Специальность/направление  12181 non-null  object
 5   Специализация/профиль      11119 non-null  object
 6   Курс по порядку            12181 non-null  int64
 7   Состояние                  12181 non-null  object
 8   Дисциплина                 12180 non-null  object
 9   Оценка (без пересдач)      5211 non-null   object
 10  Оценка (успеваемость)      5319 non-null   object
 11  Полугодие                  12180 non-null  object
 12  Преподаватель              5191 non-null   object
 13  Учебный год                12180 non-null  object
dtypes: int64(3), object(11)
memory usage: 1.3+ MB

None

In [14]:
new_shit['Номер ЛД'].nunique()

816

In [15]:
new_shit = new_shit[~ new_shit['Подразделение'].str.contains('/Б',na = False)]

In [16]:
new_shit['Номер ЛД'].nunique()

777

In [ ]:
present = new_shit[new_shit['Учебный год'] == '2024 - 2025']

In [7]:
aspi1 = open(r'C:\Users\User\asp\Выгрузка 1.xls')

,№п/п,ФИО,Дата рождения,Пол,Номер ЛД,Структурное подразделение,Подразделение,Специальность/направление,Курс по порядку,Гражданство,Состояние,Учебное заведение при поступлении,Вид трудоустройства,Должность,Направление трудоустройства,Льгота/Особая отметка,Квота МОН,Дата начала действия,Дата окончания действия
0,1,Аббас Майтхам Худайр Аббас,11.05.1981,Мужской,2200674,NaN,Горный институт,Электротехнические комплексы и системы,3,Ирак,Аспирант,NaN,NaN,NaN,NaN,Направление Минобрнауки России,Да,20.08.2021,NaN
1,2,Абдукодиров Абдулла Абдумалик Угли,25.06.1996,Мужской,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,Технологии материалов,4,Узбекистан,Аспирант,NaN,NaN,NaN,NaN,NaN,Нет,NaN,NaN
2,3,Абдурашидов Шерзод Шухрат Угли,26.09.1994,Мужской,2210009,НИТУ МИСИС,Институт экотехнологий и инжиниринга,Обработка металлов давлением,3,Узбекистан,Аспирант,NaN,NaN,NaN,NaN,Средний балл диплома,Нет,30.06.2020,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   №п/п                               820 non-null    int64
 1   ФИО                                820 non-null    object
 2   Дата рождения                      820 non-null    object
 3   Пол                                820 non-null    object
 4   Номер ЛД                           820 non-null    int64
 5   Структурное подразделение          658 non-null    object
 6   Подразделение                      820 non-null    object
 7   Специальность/направление          820 non-null    object
 8   Курс по порядку                    820 non-null    int64
 9   Гражданство                        820 non-null    object
 10  Состояние                          820 non-null    object
 11  Учебное заведение при поступлении  0 non-null      float64
 12  Вид трудоустройства                0 non-null      float64
 13  Должность                          0 non-null      float64
 14  Направление трудоустройства        0 non-null      float64
 15  Льгота/Особая отметка              195 non-null    object
 16  Квота МОН                          820 non-null    object
 17  Дата начала действия               191 non-null    object
 18  Дата окончания действия            1 non-null      object
dtypes: float64(4), int64(3), object(12)
memory usage: 121.8+ KB

None

In [8]:
aspi2 = open(r'C:\Users\User\asp\Выгрузка 2.xls')

,№п/п,ФИО,Номер ЛД,Структурное подразделение,Подразделение,Курс по порядку,Состояние,Дата расторжения,Договор на проживание (номер договора),Категория проживающих,Комната проживания,Начало проживания,Общежитие (по приказу),Общежитие проживания,Окончание проживания,Помещение/Блок,Состояние в общежитии,Этаж
0,1,Аббас Майтхам Худайр Аббас,2200674,NaN,Горный институт,3,Аспирант,NaN,Д/В008/121/22-40733,"Обучающиеся, в т.ч. студенты,аспиранты,докторанты(Бюджет)","ДК, 4Э, 423, комната 1",01.09.2024,NaN,Дом Коммуна,31.08.2026,"ДК, 4Э, 423",Предоставлено,"ДК, 4 этаж"
1,2,Абдукодиров Абдулла Абдумалик Угли,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,4,Аспирант,NaN,Д/В008/121/21-37763,"Обучающиеся, в т.ч. студенты,аспиранты,докторанты(Бюджет)","ДК, 4Э, 415, комната 2",01.09.2024,NaN,Дом Коммуна,31.08.2025,"ДК, 4Э, 415",Предоставлено,"ДК, 4 этаж"
2,3,Абдурашидов Шерзод Шухрат Угли,2210009,НИТУ МИСИС,Институт экотехнологий и инжиниринга,3,Аспирант,NaN,Д/В008/121/22-42105,"Обучающиеся, в т.ч. студенты,аспиранты,докторанты(Бюджет)","М-1, 13Э, 1319, комната 2",01.09.2024,NaN,Металлург 1 (М-1),30.06.2026,"М-1, 13Э, 1319",Предоставлено,"М-1, 13 этаж"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   №п/п                                    816 non-null    int64
 1   ФИО                                     816 non-null    object
 2   Номер ЛД                                816 non-null    int64
 3   Структурное подразделение               654 non-null    object
 4   Подразделение                           816 non-null    object
 5   Курс по порядку                         816 non-null    int64
 6   Состояние                               816 non-null    object
 7   Дата расторжения                        94 non-null     object
 8   Договор на проживание (номер договора)  496 non-null    object
 9   Категория проживающих                   496 non-null    object
 10  Комната проживания                      496 non-null    object
 11  Начало проживания                       496 non-null    object
 12  Общежитие (по приказу)                  0 non-null      float64
 13  Общежитие проживания                    496 non-null    object
 14  Окончание проживания                    496 non-null    object
 15  Помещение/Блок                          496 non-null    object
 16  Состояние в общежитии                   496 non-null    object
 17  Этаж                                    496 non-null    object
dtypes: float64(1), int64(3), object(14)
memory usage: 114.9+ KB

None

In [9]:
aspi3 = open(r'C:\Users\User\asp\Выгрузка 3.xls')

,№п/п,ФИО,Номер ЛД,Структурное подразделение,Подразделение,Курс по порядку,Состояние,Дисциплина,Оценка (успеваемость),Полугодие,Учебный год
0,1,Аббас Майтхам Худайр Аббас,2200674,NaN,Горный институт,3,Аспирант,NaN,NaN,NaN,NaN
1,2,Абдукодиров Абдулла Абдумалик Угли,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,4,Аспирант,История и философия науки,Отлично,I полугодие,2021 - 2022
2,3,Абдукодиров Абдулла Абдумалик Угли,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,4,Аспирант,Педагогика высшей школы,Отлично,I полугодие,2021 - 2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694 entries, 0 to 1693
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   №п/п                       1694 non-null   int64
 1   ФИО                        1694 non-null   object
 2   Номер ЛД                   1694 non-null   int64
 3   Структурное подразделение  1015 non-null   object
 4   Подразделение              1694 non-null   object
 5   Курс по порядку            1694 non-null   int64
 6   Состояние                  1694 non-null   object
 7   Дисциплина                 1028 non-null   object
 8   Оценка (успеваемость)      1015 non-null   object
 9   Полугодие                  1028 non-null   object
 10  Учебный год                1028 non-null   object
dtypes: int64(3), object(8)
memory usage: 145.7+ KB

None

In [10]:
dvish_v1 = open(r'C:\Users\User\asp\Вызругка 4 движение.xls')

,№п/п,ФИО,Номер ЛД,Структурное подразделение,Подразделение,Курс по порядку,Состояние,Дата зачисления,Дата начала обучения(по приказу),Дата выпуска,Дата начала академического отпуска ( при наличии),"Дата начала академического отпуска по уходу за ребенком, по беременности и родам ( при наличии )",Дата начала обучения (восстановления/перевода в институт),"Дата окончания академического отпуска по уходу за ребенком, по беременности и родам ( при наличии )",Дата окончания академического отпуска( при наличии),Дата окончания обучения,Дата окончания обучения (по приказу),Дата приказа о восстановлении,Отчислен
0,1,Аббас Майтхам Худайр Аббас,2200674,NaN,Горный институт,3,Аспирант,22.07.2022,01.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,30.08.2026,31.08.2026,NaN,Нет
1,2,Абдукодиров Абдулла Абдумалик Угли,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,4,Аспирант,16.08.2021,01.09.2021,NaN,NaN,NaN,NaN,NaN,NaN,31.08.2025,31.08.2025,NaN,Нет
2,3,Абдурашидов Шерзод Шухрат Угли,2210009,НИТУ МИСИС,Институт экотехнологий и инжиниринга,3,Аспирант,15.08.2022,01.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,31.08.2026,30.08.2026,NaN,Нет

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 19 columns):
 #   Column                                                                                               Non-Null Count  Dtype
---  ------                                                                                               --------------  -----
 0   №п/п                                                                                                 816 non-null    int64
 1   ФИО                                                                                                  816 non-null    object
 2   Номер ЛД                                                                                             816 non-null    int64
 3   Структурное подразделение                                                                            654 non-null    object
 4   Подразделение                                                                                        816 non-null    object
 5   Курс по порядку                                                                                      816 non-null    int64
 6   Состояние                                                                                            816 non-null    object
 7   Дата зачисления                                                                                      816 non-null    object
 8   Дата начала обучения(по приказу)                                                                     809 non-null    object
 9   Дата выпуска                                                                                         0 non-null      float64
 10  Дата начала академического отпуска ( при наличии)                                                    54 non-null     object
 11  Дата начала академического отпуска по уходу за ребенком, по беременности и родам ( при наличии )     0 non-null      float64
 12  Дата начала обучения (восстановления/перевода в институт)                                            0 non-null      float64
 13  Дата окончания академического отпуска по уходу за ребенком, по беременности и родам ( при наличии )  0 non-null      float64
 14  Дата окончания академического отпуска( при наличии)                                                  54 non-null     object
 15  Дата окончания обучения                                                                              815 non-null    object
 16  Дата окончания обучения (по приказу)                                                                 815 non-null    object
 17  Дата приказа о восстановлении                                                                        7 non-null      object
 18  Отчислен                                                                                             816 non-null    object
dtypes: float64(4), int64(3), object(12)
memory usage: 121.3+ KB

None

In [11]:
pub = open(r'C:\Users\User\asp\Выгрузка 5 Публикации.xls')

,№п/п,ФИО,Номер ЛД,Структурное подразделение,Подразделение,Курс по порядку,Состояние,AutorID РИНЦ,ORCID,Researcher ID Web of Science,Scopus ID,SPIN-код РИНЦ
0,1,Аббас Майтхам Худайр Аббас,2200674,NaN,Горный институт,3,Аспирант,NaN,https://orcid.org/my-orcid?orcid=0000-0002-3485-35,NaN,https://www.scopus.com/authid/detail.uri?authorId=,NaN
1,2,Абдукодиров Абдулла Абдумалик Угли,2100847,Институт новых материалов и нанотехнологий,Институт новых материалов и нанотехнологий,4,Аспирант,NaN,NaN,NaN,NaN,NaN
2,3,Абдурашидов Шерзод Шухрат Угли,2210009,НИТУ МИСИС,Институт экотехнологий и инжиниринга,3,Аспирант,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   №п/п                          816 non-null    int64
 1   ФИО                           816 non-null    object
 2   Номер ЛД                      816 non-null    int64
 3   Структурное подразделение     654 non-null    object
 4   Подразделение                 816 non-null    object
 5   Курс по порядку               816 non-null    int64
 6   Состояние                     816 non-null    object
 7   AutorID РИНЦ                  39 non-null     object
 8   ORCID                         99 non-null     object
 9   Researcher ID Web of Science  54 non-null     object
 10  Scopus ID                     65 non-null     object
 11  SPIN-код РИНЦ                 44 non-null     object
dtypes: int64(3), object(9)
memory usage: 76.6+ KB

None